.navbar {
    height: 103px;
}

#container-navbar {
    margin-left: 148px;
    margin-right: 148px;
}

.location {
    background-color: $purple-light;
    width: 143px;
    height: 38px;
}

.location-text {
    @include regular-S;
    color: $purple-dark;
}

.counter {
    background-color: $yellow-dark;
    width: 20px;
    height: 20px;
}

.counter {
    @include bold-S;
    color: $white;
    width: 1.25rem;
    height: 1.25rem;
    top: 1.5rem;
    right: 9.5rem;
    background-color: $yellow-dark;
}